<div class="body-main">
    {% for article in article_list %}
        <div class="article-brief shadow-lg">
            <div class="article-margin-padding">
                <h3 class="article-title">
                    <b>
                        <a href="{% url 'myblog:get_detail' article_id=article.article_id %}">
                            {{ article.title }}
                        </a>
                    </b>
                    <br>
                </h3>
                <p class="line-limit-length">{{ article.brief_content }}</p>
                <span class="label label-default article-title span-type">{{ article.article_type }}</span>
                <span class="label label-default article-title span-data">{{ article.publish_data.year }}/{{ article.publish_data.month }}/{{ article.publish_data.day }}</span>
            </div>
        </div>
    {% endfor %}

    <style>

        .article-brief {
            background-color: rgb(48, 48, 48) !important;
        }

        .span-type{
            background-color: #34656d;
        }

        .span-data{
            background-color: #334443;
        }

        .article-brief p {
            font-size: 18px !important;
            color: #fffbdf;
        }

        .article-brief a {
            color: #c6ffc1 !important;
        }

    </style>

</div>