{% ifequal show_page 1 %}
{% else %}
    <div class="body-footer">
    
        <nav aria-label="Page navigation" style="text-align: center">
            <ul class="pagination pagination-lg ">
                <li>
                    <a href="?page={{ previous_page }}" aria-label="Previous" class="color-a">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for num in page_num %}
                    <li><a href="?page={{ num }}" class="color-a">
                        {{ num }}
                    </a></li>
                {% endfor %}
                <li>
                    <a href="?page={{ next_page }}" aria-label="Next" class="color-a">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <style>
            .color-a {
                background-color: rgb(48, 48, 48) !important;
                border: transparent !important;
            }
        </style>

    </div>


{% endifequal %}