<div class="panel right-title" style="font-size: 18px">
    <div class="panel-heading ">
        <i class="fa fa-link" aria-hidden="true" style="margin-right: 4px"></i>
        链接
    </div>
    <div class="panel-body right-list links">
        {#github#}
        <a target="_blank" href="https://github.com/BangBOOM">
            <i class="fa fa-github-square" aria-hidden="true"></i>
        </a>
        {#twitter#}
        <a target="_blank" href="https://twitter.com/BangBOOM98">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        {#mail#}
        <a target="_blank" href="mailto:went0rthyang@gmail.com">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="{% url "myblog:rss" %}">
            <i class="fa fa-rss" aria-hidden="true"></i>
        </a>

        <style>
            .links {
                font-size: 18px;
            }

            .links a {
                margin-right: 4px !important;
                font-size: 20px !important;
            }
        </style>

    </div>
</div>

{% include '_partial/copyright.html' %}